.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-2-5{
  width: 40%;
}

.col-3-5{
  width: 60%;
}

.col-1-2{
  width: 50%;
}

.contact-form{
  margin: 0% auto;
  width: 100%; 
}

.wrap-col{
   padding:  10px;
   width: 100%;
}

.row_inputs{
	display: grid;
	grid-template-columns:  repeat(3, 1fr);
	gap: 50px;
}